<div id="navbar-text">
    <span class="dht22-icon">temip_icon️</span><span id="navbar_temperature">--</span>°C
    <span class="dht22-icon">humidity_icon</span><span id="navbar_humidity">--</span>%
</div>
